@font-face {
  font-family: "Raleway";
  src: local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #2C2D35;
}

.container {
  padding: 0 15px;
}

@media (min-width: 510px) {
  .container {
    padding: 0 33px;
  }
}
@media (min-width: 690px) {
  .container {
    padding: 0 39px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 165px;
  }
}
.btn-reset {
  border: 1px solid #598D66;
  background-color: transparent;
  color: #598D66;
  padding: 5px;
  cursor: pointer;
}

.paragraph {
  margin: 0;
}

.header__top {
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.header__main {
  padding: 0 15px;
  background-color: #E1EDE6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
}
.header__menu-list {
  display: none;
}
.header__menu-item {
  color: #2C2D35;
  font-size: 18px;
  font-weight: 500;
}
.header__menu-item:not(:last-child) {
  margin-right: 60px;
}
.header__inner {
  padding-bottom: 60px;
}

@media (min-width: 510px) {
  .header {
    padding-bottom: 50px;
  }
  .header__inner {
    background-color: #E1EDE6;
    padding: 0 33px;
  }
  .header__top {
    background-color: transparent;
    position: relative;
    min-height: 67px;
  }
  .header__top::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #C3D1C6;
  }
  .header__main {
    padding: 0;
    min-height: 56px;
  }
  .header__menu-list {
    display: flex;
  }
}
@media (min-width: 690px) {
  .header {
    padding: 0;
  }
  .header__inner {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 39px;
  }
  .header__top::after {
    content: "";
    width: 0;
  }
  .header__menu-list {
    margin-right: 60px;
  }
}
@media (min-width: 1440px) {
  .header__inner {
    padding: 0 165px;
  }
  .header__menu-item {
    font-size: 20px;
  }
}
.menu__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 20px;
  height: 2px;
  left: 5px;
  top: 6px;
  border-radius: 1px;
  background-color: #4C5866;
  position: absolute;
  box-shadow: 0 8px 0 0 #4C5866, 0 16px 0 0 #4C5866;
}

@media (min-width: 510px) {
  .menu__btn {
    display: none;
  }
}
.hero {
  padding-bottom: 60px;
}
.hero__main-title {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
  color: #2C2D35;
}
.hero__modifed {
  color: #598D66;
}
.hero__text {
  color: hsl(145, 5%, 55%);
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}
.hero__btn {
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 500;
  width: 154px;
  height: 50px;
  text-align: center;
}
.hero__left {
  display: none;
}
.hero__margin {
  display: none;
}

@media (min-width: 510px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero__inner {
    display: flex;
    justify-content: space-between;
  }
  .hero__left {
    background-image: url("../img/bird.png");
    display: inline;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
  }
  .hero__main-title {
    margin-bottom: 10px;
    font-size: 36px;
  }
  .hero__text {
    margin-bottom: 10px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__margin {
    display: inline;
  }
  .hero__btn {
    width: 178px;
  }
  .hero__right {
    min-width: 285px;
  }
}
@media (min-width: 690px) {
  .hero {
    padding-bottom: 70px;
  }
  .hero__right {
    padding-top: 35px;
    min-width: 330px;
    width: 50%;
  }
  .hero__left {
    height: 380px;
    width: 55%;
  }
  .hero__main-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero__margin {
    display: none;
  }
  .hero__text {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .hero__btn {
    width: 210px;
    height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .hero__main-title {
    font-size: 60px;
    line-height: 66px;
  }
  .hero__text {
    margin-bottom: 60px;
  }
  .hero__btn {
    width: 225px;
    height: 65px;
    line-height: 23.48px;
  }
  .hero__right {
    padding-top: 145px;
    min-width: 540px;
  }
  .hero__left {
    height: 621px;
    width: 52%;
  }
}
.reproduction__caption {
  margin: 0;
  font-size: 24px;
  line-height: 110%;
  font-weight: 500;
  color: #2C2D35;
  margin-bottom: 20px;
}
.reproduction__group {
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 20px;
}
.reproduction__btn {
  border-radius: 20px;
  padding: 10px 20px;
  min-width: 118px;
  font-size: 18px;
  line-height: 21.13px;
  height: 41px;
  background-color: #D4E8D9;
  color: #2C2D35;
  border: none;
}
.reproduction__btn:not(:last-child) {
  margin-right: 20px;
}
.reproduction__card {
  background-color: #E1EDE6;
  padding: 20px 20px 30px 20px;
  margin-bottom: 30px;
}
.reproduction__image {
  margin-bottom: 12px;
  text-align: center;
}
.reproduction__author {
  color: #86928B;
  font-size: 16px;
  line-height: 110%;
  font-weight: 500;
  margin-bottom: 10px;
}
.reproduction__name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 28.18px;
  font-weight: 500;
}
.reproduction__material {
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 30px;
  font-weight: 500;
}
.reproduction__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.48px;
  color: #598D66;
  margin-bottom: 10px;
  font-family: "Raleway";
}
.reproduction__button-cart {
  font-size: 18px;
  line-height: 21.13px;
  color: #598D66;
  width: 100%;
  padding: 5px;
  height: 50px;
  text-align: center;
}

@media (min-width: 510px) {
  .reproduction__btn {
    min-width: 100px;
  }
  .reproduction__btn:not(:last-child) {
    margin-right: 32px;
  }
  .reproduction__group {
    overflow-x: hidden;
  }
}
@media (min-width: 690px) {
  .reproduction__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .reproduction__group {
    margin: 0;
  }
  .reproduction__caption {
    margin: 0 20px 0 0;
    font-size: 30px;
  }
  .reproduction__btn {
    font-size: 20px;
    line-height: 23.48px;
  }
  .reproduction__btn:not(:last-child) {
    margin-right: 34px;
    height: 43px;
  }
}
@media (min-width: 1200px) {
  .reproduction__caption {
    font-size: 40px;
  }
  .reproduction__btn:not(:last-child) {
    margin-right: 31px;
  }
}
.btn-active {
  background-color: #376B44;
  color: #F4F6F5;
}/*# sourceMappingURL=style.css.map */